<!DOCTYPE html>
<html>
<head>
  <title>Bee</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="list-inline">
    <li><%= login_or_logout %></li>
  </nav>
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <%end%>

<%= yield %>

<div class="footer">

  <ul>
      Made with ♥ by<li><a href="http://sophiedebenedetto.nyc/" id="credits">Sophie DeBenedetto</a></li> |
      <li><a href="https://github.com/SophieDeBenedetto/Bei-Machine">Source code</a></li> | 
      <li><a href="mailto:sophie.debenedetto@gmail.com">Feedback</a></li>
  </ul>
  </div>
</body>
</html>
